@import '../style/variable.scss';

.containers {
    width: 100%;
    position: fixed;
    nav {
        background: $primary-color;
        display: flex;
        justify-content: space-between;
        padding: 0 50px;
        .navigation-logo {
            img {
                width: 8rem;
                margin: 5px 0 0 0;
                padding: 10px;
            }
        }
        .navigation-logo:hover {
            cursor: pointer;
        }
        .navigation-menu {
            ul {
                display: flex;
                list-style: none;
                margin: 12px;
                li {
                    padding: 0 20px;
                    color: #ffffff;
                    .btn {
                        background: none;
                        border: none;
                        a {
                            color: #ffffff;
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }
}
